<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
	<th:block layout:fragment="title">
		<title>thiThe page is a write page</title>
	</th:block>

	<th:block layout:fragment="content">
		<div class="card-content">
			<p class="col-sm-12 page-title">공지사항 작성</p> 
			<form class="form-horizontal" th:action="@{/board/register.do}" th:object="${board}" method="post" onsubmit="return registerBoard(this)">
				<div class="write-form">
					<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
					<input type="hidden" th:if="*{n_idx != null and n_idx > 0}" th:field="*{n_idx}" />
					
					<div class="form-group form-style">
						<label for="n_title" class="col-sm-1 control-label label-text">제목</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{n_title}" class="form-control form-text-box" placeholder="제목을 입력해 주세요." />
						</div>
					</div>
	
					<div class="form-group form-style">
						<label for="n_writer" class="col-sm-1 control-label label-text">이름</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{n_writer}" class="form-control form-text-box" placeholder="이름을 입력해 주세요." />
						</div>
					</div>
	
					<div class="form-group form-style">
						<label for="n_content" class="col-sm-1 control-label label-text">내용</label>
						<div class="col-sm-10">
							<textarea th:field="*{n_content}" class="form-control form-textarea-box" placeholder="내용을 입력해 주세요. 최대 1000자까지 입력가능해요. 비방, 욕설, 음란 등 운영정책에 반하는 글을 게시할 경우 이용제재 조치될 수 있어요."></textarea>
						</div>
					</div>
				</div>
				
				<div class="btn_wrap text-center btn-bottom-area" th:object="${params}">
					<a th:href="|@{/board/list.do}*{makeQueryString(currentPageNo)}|" class="btn btn-secondary waves-effect waves-light">뒤로가기</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
		<!-- /.card-content -->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function registerBoard(form) {

				form.noticeYn.value = form.noticeYn.checked == false ? 'N' : 'Y';
				form.secretYn.value = form.secretYn.checked == false ? 'N' : 'Y';
			
				var result = (
						   isValid(form.n_title, "제목", null, null)
						&& isValid(form.n_writer, "이름", null, null)
						&& isValid(form.n_content, "내용", null, null)
				);
			
				if ( result == false ) {
					return false;
				}
			
				var n_idx = /*[[ ${board.n_idx} ]]*/"";
				if (isEmpty(n_idx) == false) {
					var queryString = /*[[ ${params.makeQueryString(params.currentPageNo)} ]]*/"";
			
					/*[- 쿼리 스트링을 오브젝트 형태로 변환 -]*/
					queryString = new URLSearchParams(queryString);
					queryString.forEach(function(value, key) {
						if (isEmpty(value) == false) {
							$(form).append('<input type="hidden" name="' + key + '" value="' + value + '" />');
						}
					});
				}
			}
			/*[- end of function -]*/

			/*]]>*/
		</script>
	</th:block>
</html>